<p id="notice"><%= notice %></p>
<h1>ブックマーク管理アプリ</h1>
    
<table>
  <thead>
    <tr>
      <th>URL</th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.url %></td>
        <td><%= link_to '確認', bookmark %></td>
        <td><%= link_to '編集', "#" %></td>
        <td><%= link_to '削除', bookmark, method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_bookmark_path %>