<p id="notice"><%= notice %></p>

<h1>確認</h1>
<p>
  <strong>URL:</strong>
  <%= @bookmark.url %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @bookmark.category %>
</p>

<p>
  <strong>説明:</strong>
  <%= @bookmark.description %>
</p>

<%= link_to '編集',  edit_bookmark_path(@bookmark) %> |
<%= link_to '一覧へ', bookmarks_path %> 